@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');


/********** Setting **********/

/* Colors Used
Black bg: #212121;
Grey bg: #F8F8F8;


/*********** Setting Intro **********/

#jmb-intro {
    display: flex;
    align-content: center;
    padding-top: 3%;
    height: 100vh;
}

.jmb-intro-flex-grid {
    padding-bottom: 6%;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    align-content: space-between;
}

.jmb-intro-left {
    flex-grow: 1;
    flex-basis: 58%;
    min-width: 300px;
}

.jmb-intro-right {
    flex-grow: 1;
    flex-basis: 42%;
    min-width: 300px;
}

.project-cta {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 444px;
}

.project-cta .button {
    max-width: 240px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.project-cta .button-secondary {
    max-width: 240px;

}


/*********** Setting Challenge **********/

#challenge {
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #F8F8F8;
}

.table-flex-grid {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 33%;
}

.table-item {
    width: 300px;
    display: flex;
    align-items: flex-start;
}


li {
    list-style-type: none;
}

.nr {
    font-size: 50px;
    text-align: right;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #0C0093;
    margin-right: 20px;
    line-height: 50px;
}

li p {
    text-align: left;
}


/********* Hero *********/

.jmb-hero {
    width: 100%;
}


/********* Setting Project Description *********/

#prj-description {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.prj-flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6em;
}

.prj-left-col {
    flex-grow: 3;
    flex-basis: 45%;
    min-width: 300px;
    padding-right: 3%;
}

.prj-right-col {
    flex-grow: 1;
    flex-basis: 55%;
    min-width: 300px;
}

.prj-left-col-2 {
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: flex-start;
}

.prj-left-col-2-left {
    margin-right: 35%;
}

.prj-goal {
    padding-top: 5%;
    padding-bottom: 5%;
}

.prj-goal ul li,
.prj-right-col ul li {
    list-style-type: disc;
    margin-left: -20px;
}

/*********** Wireframes *************/
#wireframes {
    background-color: #F8F8F8;
}

.wireframes-flex-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between
}

#wireframes h3 {
    text-align: left;
    padding-left: 2%;
    padding-top: 5%;
}

#wireframes p {
    text-align: left;
    padding-left: 2%;
}

.wireframe {
    display: block;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    flex-basis: 40%;
    flex-grow: 2;
    flex-shrink: 0;
    min-width: 280px;
}

.wireframe-button {
    max-width: 290px;
    min-width: 280px;
    margin-top: 3%;
    display: flex;
    justify-content: left;
}

/******* Desktop Prototype ********/

#desktop-prototype {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #343434;
}

#desktop-prototype h3,
#desktop-prototype p {
    color: #f1f1f1;
}

.iframe {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);

}

/*********** Design System ***********/

#design-system {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #F8F8F8;

}


/********* Media Queries **********/

/* ==============================
Small devices // Smaller than iPad (768px and smaller)
================================= */
@media only screen and (max-width: 768px) {
    .iframe-box {
        display: none;
    }

    #jmb-intro {
        padding-top: 10%;
        height: auto;
        padding-bottom: 10%;
    }

    .mobile {
        display: none;
    }
}

/* ==============================
Large devices (Smaller than 1024px)
================================= */
@media only screen and (max-width: 1023px) {
    .mobile {
        display: none;
    }

    #challenge {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    #prj-description {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #wireframes {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}

/* ==============================
Large devices (larger than 1024px)
================================= */
@media only screen and (min-width: 1024px) {
    .not-mobile {
        display: none;
    }
}

/* ==============================
X-large devices (larger than 1440px)
================================= */
@media only screen and (min-width: 1440px) {}

/* ==============================
Extra-large devices (Smaller than 1920px)
================================= */
@media only screen and (max-width: 1920px) {}