/* Colors used:
Primary Color: #0C0093;
Secondary Color: #FDFF92;
Text color: #343434;
Background: #F8F8F8;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700,400&family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');


/********** Typography **********/

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

.name{
    color:#FFA7A7 !important;
}

.job{
    color:#0C0093;
}

.past{
    color: #f8df00;
}

/* h1, h2, h3, h4, h5, h6, .label-bold, a.logo{
    font-family: , Arial, Helvetica, sans-serif;
    color:#343434;
    font-weight: 700;

} */

p, .p-link, .p-small, label{
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 2.5rem; /*40px*/
    font-weight: 700;
    line-height: 49px;
}

h2{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.875rem; /*30px*/
    line-height: 37px;
}

h3{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.5rem; /*24px*/
    line-height: 29px;
}

h4{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.125rem; /*18px*/
    line-height: 22px;
}

h5{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1rem; /*16px*/
    line-height: 20px;
}

h6{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 0.875rem; /* 14px; */
    line-height: 17px;
}

p{
    font-weight: normal;
    font-size: 1.125rem; /*18px;*/
    line-height: 30px;
}

.p-link{
    font-weight: 700;
    font-size: 1.125rem; /*18px;*/
    line-height: 30px;
}

.p-small{
    font-weight: normal;
    font-size: 1rem; /*16px*/
    line-height: 22px;
}

label{
    font-weight: normal;
    font-size: 0.875rem; /*14px;*/
    line-height: 19px;
}

.label-bold{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem; /*16px*/
    line-height: 20px;
}


/********** Links CSS Effect *********/

a{
    color:#0C0093;
    font-weight: 700;

}

a:hover{
    text-decoration: none;
    color:#FFA7A7;
}

a.text {
    text-decoration: underline;
    color:#0C0093;
    font-weight: 700;
}
a.text:hover, a.text:focus{
    color:#FFA7A7;
}

a.text:visited{
    color: #FFA7A7;
}
a.text:active{
    color:#FFA7A7;

}


/********** General **********/
img{
    width:100%;
}

* {
  box-sizing: border-box;
}

/********** Page Opacity Animation **********/

main{
    animation: opening 1.5s ease-in;    
}

@keyframes opening{
    0% {
    opacity: 0%;
    }
    100% {
    opacity: 100%;
    }
}

.pic-animation:hover{
    transform: rotate(1deg);

}

/********** Buttons **********/


#top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;}

.top-button {
    display: inline-block;
    font-weight: 700;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-color: #0C0093;
    border-width: 2px;
    background-color: white;
    border-radius: 1.875rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.button-nav {
    display: inline-block;
    font-weight: 700;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.875rem;
    transition: transform 0.5s;
    cursor: pointer;
}

.button-nav:active{
    background-color: #FDFF92;
}

.button {
    display: inline-block;
    font-weight: 700;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1.125rem;
    line-height: 1.5;
    border-radius: 1.875rem;
    max-width: 328px;
    height: 54px;
    justify-content: center;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #0C0093;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.5s;



}

.button-primary {
    color: white;
    background-color: #0C0093;
    background-image: none;
}

.button-primary:hover, .button-primary:focus  {
    color: white;
    transform: translate(0,-2px);
    transition: transform 0.25s;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.button:active{
    background-color: #FDFF92;
}

.button-outline-secondary {
    color: white;
    background-color: #0C0093;
    background-image: none;
    border-color:white;
    border-width: 1px;
}

.button-outline-secondary:hover, .button-outline-secondary:focus {
    color: #0C0093;
    background-color:white;
    background-image: none;
    border-color: #0C0093;
    text-decoration: none;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);

}

.button-secondary{
    color: #0C0093;
    background-color:white;
    background-image: none;
    border-color: #0C0093;
    text-decoration: none;
    border-width: 2px;
}

.button-secondary:hover, .bbutton-secondary:focus{
    color: #0C0093;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/********** Top Navigation Bar **********/

#navbar{
    background-color: #0C0093;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    position: fixed; /*make it fixed*/
    top:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    z-index: 100;

}

.logo{
    display: flex;
    
}
.nav .brackets{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

a.top-nav{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
    
}

a.top-nav:hover{
    color: #FDFF92;
    text-decoration: underline;
    text-decoration-color: #FDFF92;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
  

}

a.top-nav:active{
    color: #FDFF92;
    text-decoration: underline;
}

a.logo{
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: white;
    float: left;

}

a.logo:hover{
    color: #FDFF92;
    text-decoration: none;
    /* animation: bounce; 
    animation-duration: 1s;  */
}

.work-wrapper h2, .container-about h3, .container-contact h3, #contact h3, .slides-wrapper h3, #recommendation h3{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}





/********** Home Hero **********/

#hero{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
    padding-bottom: 5%;
    padding-top:5%;
}

.hero-pic{
    flex-basis: 50%;
    align-items: center;
    box-sizing: content-box;    
}

.hero-cta{
    flex-basis: 50%;
    text-align: center;
    max-width: 400px;
    min-width: 320px;
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 50px; 
}   

/********** Projects **********/

.round-borders{
    border-radius: 10px 10px 0 0;
}
.work-wrapper {
    align-items: center;
    background-color: #F8F8F8;
    padding-bottom: 5%;
    width: 100%;
}

.projects-box{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    transform: translate(0,-2px);
    cursor: pointer;

}

.project{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: white;
    color: #333333;
    border-radius: 10px;
    margin: 1%;
    width:30%;
    min-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    min-height: 550px;
}

.project:hover img{
    transform: translate(0,-2px);
    opacity: 0.8;
    transition: transform 0.5s;
}


.project-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 200px;
}

.project-title{
    margin-bottom: 20px;
}
.project-label{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    width: 100%;
    color: #333;
}

.label-big {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    flex-basis: 25%;
}

.label-role{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    flex-basis: 72%;
}


.white-background img{
    background:white;
}

.image{
    position: relative;
    width:100%; /*change to 100%*/
}

.image__img{
    display: block;
    width: 100%;
}

.project-content h3 a{
    color: #0C0093;
}

.project-content h3 a:hover{ /* Coming Soon*/
    color: #FFA7A7;
}

.project-content h3{
    color: #0C0093;
}

.image__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}

.image__overlay--blur{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
}

.image__overlay:hover{        
    border-radius: 10px 10px 0 0;
    background-color: #FFA7A7;
    opacity: 0.5;
}


.image__title h2{
    color: #ffffff;
    opacity: 1;
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover > * {
    transform: translateY(0px);
}



/********** About **********/

/* #about{
    min-height: 100vh;
} */
.container-about{
    background-color: white;
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-about p{
    padding-bottom: 24px;
    text-align: center;
    max-width: 1100px;
    padding-left: 5%;
    padding-right: 5%;
}

#more{
    display: none;
}

#aboutBtn{
    color: white;
}
/********** Recommendations **********/

#recommendation {
    background-color: #F8F8F8;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

/********* Slider Carousel **********/

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 400px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.mySlides {
    margin-left: 5%;
    margin-right: 5%;
}

.prev, .next{
    position: absolute;
    top: 50%;  
    width: auto;
    font-weight: normal;
    font-size: 34px;
    color: #c4c4c4 !important;
    transition: 0.6s ease;
    border-radius:10px;
    user-select: none;   
    margin-right: 2%;
    margin-top:-22px;
    opacity: 0.5;
}
 
.next{
    right: 3%;
 
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover{
    background-color: rgba(0, 0, 0, 0.05);
    padding: 5px;
    transform: translate(-5px,-5px);
}

 .next:hover {
    background-color: rgba(0, 0, 0, 0.);
    padding: 5px;
    transform: translate(5px,-5px);
}

/* Caption text */
.lp-text {
  font-size: 15px;
  padding: 8px 12px;
  bottom: 8px;
  width: 100%;
  text-align: left;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #0C0093;
}

.text h4{
    color: #0C0093;
}


/********** Contact in Footer **********/

#contact{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 3%;
}

.contact{
    margin-bottom: 5%;
}

.contact-button{
    margin: 12px;
}

.contact-button-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 50%;
}   


/********** Footer **********/


.imprint{
    background-color: #FDFF92;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.imprint h6{
    text-align: center;
    color: #343434;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    padding-right: 16px;
    padding-left: 16px;
}

.imprint-underline:hover{
    text-decoration: underline;
    text-decoration-color: #343434;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
}

footer .imprint-page{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/********** Imprint Page ***********/

#imprint-page{
display: block;
margin: 0 auto;
}

.imprint-inner{
    padding: 10% 0;
    text-align: center;
}
/********** Media Queries **********/


/* ==============================
Small devices // Smaller than iPad (768px and smaller)
================================= */
@media only screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
        line-height: 42px;
    }

    .top-nav{
        display: none;
    }

    .hero-pic {
        display: none;
    }

    .hero-cta{
        margin-top: 35%;
        margin-bottom: 35%;
    }

    .work-wrapper h2, .container-about h3, .container-contact h3, #contact h3, .slides-wrapper h3, #recommendation h3 {
        padding-top:10%;
        padding-bottom: 6%;
    }

    .project p, .container-about p{
        font-size: 1rem;
        line-height: 28px;
    }

    .text p{
        font-size: 0.9rem;
        line-height: 26px;
        padding: 20px;
    }

    .text h4, .text h5{
        padding-left: 24px;
        padding-right: 24px;
    }

    p.label-role{
        font-size: 0.85rem;
    }

    .label-role {
        display: flex;
        margin-left: 0;
    }

    #recommendation .container-slides {
        margin-left: 2%;
        margin-right: 2%;
    }

    .image__overlay{
        opacity: 1;
        justify-content: center;
        background-color:rgb(255, 167, 167, 0.5);
        padding-bottom: 10px;
        border-radius: 10px 10px 0 0;

    }

    .image__overlay h2{
        font-size: 30px;
        color: white;

    }
    .image__overlay--blur{
        backdrop-filter: blur(0px);
        }

    .slideshow-container {
    height: max-content;
    }
    
    .next, .prev{
        font-size: 20px;
    }

    #contact{
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .project-content{
        min-height: 320px;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (max-width: 1024px) {

   .project-content{
      min-height: 330px;
    }

     .image__overlay{
        opacity: 1;
        justify-content: center;
        background-color:rgb(255, 167, 167, 0.5);
        padding-bottom: 10px;
        border-radius: 10px 10px 0 0;

    }

    .image__overlay h2{
        font-size: 30px;
        color: white;

    }
    .image__overlay--blur{
        backdrop-filter: blur(0px);
        }
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (max-width: 1440px) {
      .project-content{
      min-height: 330px;
    }
  
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (max-width: 1920px) {
}