/* Colors used:
Primary Color: #0C0093;
Secondary Color: #FDFF92;
Text color: #343434;
Background: #F8F8F8;
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700,400&family=Open+Sans:ital,wght@0,300;0,700;1,400&display=swap');


/********** Typography **********/

html{
    font-size: 100%;
    scroll-behavior: smooth;
}

.name{
    color:#FFA7A7
}

.job{
    color:#0C0093
}
.past{
    color: #FEED50;
}

/* h1, h2, h3, h4, h5, h6, .label-bold, a.logo{
    font-family: , Arial, Helvetica, sans-serif;
    color:#343434;
    font-weight: 700;

} */

p, .p-link, .p-small, label{
    font-family: Open Sans, Arial, Helvetica, sans-serif;
}

h1{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 2.5rem; /*40px*/
    font-weight: 700;
    line-height: 49px;
}

h2{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.875rem; /*30px*/
    line-height: 37px;
}

h3{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.5rem; /*24px*/
    line-height: 29px;
}

h4{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1.125rem; /*18px*/
    line-height: 22px;
}

h5{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 1rem; /*16px*/
    line-height: 20px;
}

h6{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 0.875rem; /* 14px; */
    line-height: 17px;
}

body, p{
    font-weight: normal;
    font-size: 1.125rem; /*18px;*/
    line-height: 30px;
}

.p-link{
    font-weight: 700;
    font-size: 1.125rem; /*18px;*/
    line-height: 30px;
}

.p-small{
    font-weight: normal;
    font-size: 1rem; /*16px*/
    line-height: 22px;
}

label{
    font-weight: normal;
    font-size: 0.875rem; /*14px;*/
    line-height: 19px;
}

.label-bold{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1rem; /*16px*/
    line-height: 20px;
}

a{
    color:#0C0093;
}

a:hover{
    text-decoration: none;
    color:#FFA7A7;
}

a.text {
    text-decoration: underline;
    color:#0C0093;
    font-weight: 700;
}
a.text:hover, a.text:focus{
    color:#FFA7A7;
}

a.text:visited{
    color: #FFA7A7;
}
a.text:active{
    color:#FFA7A7;

}


/********** General **********/
img{
    width:100%;
}

* {
  box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
}

/********** Page Opacity Animation **********/

main{
    animation: opening 1.5s ease-in;    
}

@keyframes opening{
    0% {
    opacity: 0%;
    }
    100% {
    opacity: 100%;
    }
}

.pic-animation:hover{
    transform: rotate(1deg);
}

/********** Buttons **********/

.button-nav {
    display: inline-block;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.875rem;
}

.button {
    display: inline-block;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    font-size: 1.125rem;
    line-height: 1.5;
    border-radius: 1.875rem;
    max-width: 328px;
    height: 54px;
    justify-content: center;
    align-items: center;
    padding-top: 0.9rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background: #0C0093;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
 ;
}

.button-primary {
    color: white;
    background-color: #0C0093;
    background-image: none;
}

.button-primary:hover, .button-primary:focus  {
    color: white;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);


}

.button:active{
    background-color: #FDFF92;
}

.button-outline-secondary {
    color: white;
    background-color: #0C0093;
    background-image: none;
    border-color:white;
    border-width: 1px;
}

.button-outline-secondary:hover, .button-outline-secondary:focus {
    color: #0C0093;
    background-color:white;
    background-image: none;
    border-color: #0C0093;
    text-decoration: none;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

.button-secondary{
    color: #0C0093;
    background-color:white;
    background-image: none;
    border-color: #0C0093;
    text-decoration: none;
    border-width: 2px;
}

.button-secondary:hover, .bbutton-secondary:focus{
    color: #0C0093;
    transform: translate(0,-2px);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

/********** Top Navigation Bar **********/

#main-nav{
    background-color: #0C0093;
    padding: 10px 20px;
    height: 60px;
    width: 100%;
    position: fixed;
    top:0;
    z-index:1;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    display: flex;
    
}
.nav .brackets{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    list-style-type: none;
    display: inline-block;
}

a.top-nav{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: white;
    padding: 0 10px;
    
}

a.top-nav:hover{
    color: #FDFF92;
    text-decoration: underline;
    text-decoration-color: #FDFF92;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
}

a.top-nav:active{
    color: #FDFF92;
    text-decoration: underline;
}

a.logo{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: white;
    float: left;

}

a.logo:hover{
    color: #FDFF92;
    text-decoration: none;
    /* animation: bounce; 
    animation-duration: 1s;  */
}

.work-wrapper h3, .container-about h3, .container-contact h3, #contact h3, .slides-wrapper h3, #recommendation h3{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/* Animation Brackets go out */

/* .brackets a:before, .brackets a:after {
    position: relative;
    opacity: 0;
    font-size: 12px;
    top: 0px;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
}

.brackets a:before {
    content: '·';
    left: -5px;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
}

.brackets a:after{
    content: '·';
    right: -5px;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
}

.brackets a:hover:before, .brackets a:hover:after{
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
} */

/********** Home Hero **********/

#hero{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;    
    padding-bottom: 5%;
    padding-top:5%;
}

.hero-pic{
    flex-basis: 50%;
    align-items: center;
    box-sizing: content-box;
    
}

.hero-cta{
    flex-basis: 50%;
    text-align: center;
    max-width: 400px;
    min-width: 320px;
    padding: 2%;
    margin-top: 50px;
    margin-bottom: 50px; 
}   

/********** Projects **********/

.work-wrapper {
    align-items: center;
    background-color: #F8F8F8;
    padding-bottom: 5%;
    width: 100%;
}

.projects-box{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;
    transform: translate(0,-2px);
}

.project{
    background-color: #F2F2F6;
    border-radius: 10px;
    margin: 1%;
    width: 45%;
    min-width: 300px;
}

.project:hover img{
    opacity: 0.6;
    transform: translate(0,-2px);
    background-color:#F8F8F8;

}

.project-content{
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.label-role{
    display: inline-block;
    margin-left: 16px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color:#343434;
}

.label-big {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color:#343434;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
}


/********** About **********/

.container-about{
    background-color: white;
    width: 100%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.container-about p{
    padding-bottom: 24px;
    text-align: center;
    max-width: 1000px;
    padding-left: 5%;
    padding-right: 5%;
}

/********** Recommendations **********/

#recommendation {
    background-color: #F8F8F8;
    padding-bottom: 5%;
    padding-left: 2%;
    padding-right: 2%;

}

#recommendation .container-slides{
    background-color: white;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    padding: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.slides-wrapper{
    padding-bottom: 5%;
}

.slide h4{
    color: #0C0093;
}


/********** Contact in Footer **********/

#contact{
    background-color: white;
    padding-top: 3%;
    padding-bottom: 5%;
}

.contact-button{
    margin: 12px;
}

.contact-button-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 50%;
}    

/********** Footer **********/


.imprint{
    background-color: #FDFF92;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

.imprint h6{
    text-align: center;
    color: #343434;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: normal;
    padding-right: 16px;
    padding-left: 16px;
}

.imprint-underline:hover{
    text-decoration: underline;
    text-decoration-color: #343434;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 1.5px;
}

footer .imprint-page{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


/********** Imprint Page ***********/

#imprint-page{
display: block;
margin: 0 auto;
}

.imprint-inner{
    padding: 10% 0;
    text-align: center;
}
/********** Media Queries **********/


/* ==============================
Small devices // Smaller than iPad (768px and smaller)
================================= */
@media only screen and (max-width: 768px) {
    h1{
        font-size: 2rem;
        line-height: 42px;
    }

    .top-nav{
        display: none;
    }

    .hero-pic {
        display: none;
    }

    .hero-cta{
        margin-top: 35%;
        margin-bottom: 35%;
    }

    .work-wrapper h3, .container-about h3, .container-contact h3, #contact h3, .slides-wrapper h3, #recommendation h3 {
        padding-top:10%;
        padding-bottom: 6%;
    }

    .project p, .container-about p, .slide p{
        font-size: 1rem;
        line-height: 28px;
    }

    p.label-role{
        font-size: 0.85rem;
    }

    #recommendation .container-slides {
        margin-left: 2%;
        margin-right: 2%;
    }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (max-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (max-width: 1440px) {
}

/* ==============================
Extra-large devices (1920px or larger)
================================= */
@media only screen and (max-width: 1920px) {
}