@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700;800&display=swap');


/********** Setting **********/

/* Colors Used
Black bg: #212121;
Grey bg: #F8F8F8;


/*********** Setting Intro **********/

#st-intro{
    margin-top: 130px;
}

.st-intro-flex-grid{
    padding-bottom: 6%;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-top: 6em;
}

.st-intro-left{
    flex-grow: 1;     
    flex-basis: 58%;
    min-width: 320px;
    padding-right: 5%;
 }

.st-intro-right{
    flex-grow: 1;
    flex-basis: 42%;
    min-width: 320px;
}

.project-cta {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 444px;
}
.project-cta .btn{
    max-width: 210px;
    margin-bottom: 6px;
    margin-top: 6px;
}

.project-cta .btn-secondary{
    max-width: 230px;
}


/*********** Setting Challenge **********/

#challenge{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #F8F8F8;
}

.table-flex-grid{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    flex-basis: 33%;
}

.table-item{
    width:320px;
    display: flex;
    align-items: flex-start;
}


li{
    list-style-type: none;
}

.nr{
    font-size: 50px;
    text-align: right;
    font-weight: 700;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: #0C0093;
    margin-right: 20px;
    line-height: 50px;
}

li p{
    text-align: left;
}


/********* Hero *********/

.st-hero{
    width:100%;
}


/********* Setting Project Description *********/

#prj-description{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.prj-flex-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 6em;
}

.prj-left-col{
    flex-grow: 3;     
    flex-basis: 45%;
    min-width: 320px;
    padding-right: 5%;
}

.prj-right-col{
    flex-grow: 1;
    flex-basis: 55%;
    min-width: 320px;
}

.prj-left-col-2{
    margin-top: 48px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.prj-left-col-2-left{
    margin-right: 35%;
}

.prj-goal{
    padding-top: 5%;
    padding-bottom: 5%;
}
.prj-goal ul li, .prj-right-col ul li{
    list-style-type:disc;
    margin-left:-20px; 
}

/******* Desktop Prototype ********/

#desktop-prototype{
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem; 
    background-color: #343434;
}

#desktop-prototype h3, #desktop-prototype p{
    color: #f1f1f1;
}

.iframe{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********** Design System ***********/

#design-system{
    padding-top: 5rem;
    padding-bottom: 5rem; 
    background-color: #F8F8F8;

}
